<app-nav></app-nav>
<div style="position:relative; width: 100%; opacity: 0.9; background-color: white;  position:fixed;
">
<h2>Dodaj zdjęcia liczników</h2>
<div class="container" appDragAndDrop (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
    <img src="../../assets/ic-upload-files.svg" alt="">
    <h3>Przeciągnij i upuść pliki tutaj</h3>
    <h3>lub</h3>
    <label for="fileDropRef">Wyszukaj pliki</label>
</div>
<div class="files-list">
    <div class="single-file" *ngFor="let file of files; let i = index">
        <img src="../../assets/ic-file.svg" width="45px" alt="file">
        <div class="info">
          <div class="container-fluid">
            <div class="row">

              <div>
                  <h4 class="name">
                   {{ file?.file?.name }}
                </h4>
                <p class="size">
                    {{ formatBytes(file?.file?.size) }}
                </p>
            </div>
            <div class="info">
                <select [(ngModel)]="file.type">
                    <option>Stan wody zimnej</option>
                    <option>Stan wody ciepłej</option>
                </select>
                <input type="text" placeholder="Opis" [(ngModel)]="file.description">
            </div>
            </div></div>
            <app-progress [progress]="file?.file?.progress"></app-progress>
        </div>
        <img src="../../assets/ic-delete-files.svg" class="delete" width="20px" alt="file" (click)="deleteFile(i)">
    </div>
    <div>
        <button *ngIf="files.length>0" (click)="updateFiles()">Zapisz zmiany</button>
    </div>
   
</div>
<h2>Historia</h2>
<div *ngFor="let item of imageToShow">
    <img [src]="item" style="width: 20%" alt="Place image title" >
</div>
</div>