<div class="container-fluid form">
    <div class="row" *ngIf="CurrentState=='Wait'">
        <div class="col-md-12  close-form">
            <h2> Proszę czekać...</h2>
        </div>
    </div>
    <div class="row" *ngIf="CurrentState=='NotVerified'">
        <div class="col-md-12">
            <h2> Niepoprawny URL.</h2>
        </div>
    </div>

    <div class="center">
        <div class="login-header">
            <p>Ustaw nowe hasło</p>
            <i class="fa fa-users"></i>
        </div>


        <form action="" [formGroup]="ResponseResetForm" (ngSubmit)="ResetPassword(ResponseResetForm)">
            <div class="form-group">
                <input _ngcontent-c0="" class="form-control form-control-lg" placeholder="&#xf023; Hasło" type="password"
                    id="password" formControlName="newPassword" />
                <span *ngIf="!ResponseResetForm.get('newPassword').valid && !IsResetFormValid"
                    class="help-block">Hasło musi zawierać conajmniej 4 znaki.</span>
            </div>
            <div class="form-group">
                <input _ngcontent-c0="" class="form-control form-control-lg" placeholder="&#xf023; Powtórz hasło"
                    type="password" id="cpassword" formControlName="confirmPassword" />
                <span *ngIf="!ResponseResetForm.get('confirmPassword').valid && !IsResetFormValid" class="help-block">.
                </span>
                <span
                    *ngIf="ResponseResetForm.get('confirmPassword').valid && (ResponseResetForm.get('confirmPassword').value != ResponseResetForm.get('newPassword').value) && !IsResetFormValid"
                    class="help-block">Podane hasła różnią się.</span>
            </div>
            <div class="form-group">
                <div>

                    <button type="submit">Ustaw nowe hasło</button>

                </div>
            </div>
        </form>
    </div>
</div>