<app-nav></app-nav>

<div style="position:relative; width: 100%; opacity: 0.9; background-color: white;  height: auto; padding: 3em;">
    <i class="fas fa-piggy-bank"></i>
  <h2 style="margin-bottom: 2em;">Nadchodzące opłaty</h2>
 <div>

     <table [dataSource]="notCompletedPayments" mat-table matSort [dataSource]="" class="mat-elevation-z8" style="width: 100%;">
        <ng-container matColumnDef="Name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Nazwa </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container> 
        <ng-container matColumnDef="Value">
            <th mat-header-cell *matHeaderCellDef> Kwota </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} zł</td>
        </ng-container>
        <ng-container matColumnDef="Date">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Termin opłaty </th>
            <td mat-cell *matCellDef="let element"> {{element.paymentDeadline | date:'yyyy-MM-dd'}} </td>
        </ng-container>
        <ng-container matColumnDef="Details">
            <th mat-header-cell *matHeaderCellDef> Szczegóły </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="showDetails(element)">Szczegóły</button> </td>
        </ng-container>
        <ng-container matColumnDef="Payment">
            <th mat-header-cell *matHeaderCellDef> Opłata</th>
            <td mat-cell *matCellDef="let element"> <button *ngIf="hidePaymentOption(element)" mat-raised-button color="primary" (click)="pay(element)">Zapłać</button></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<h2 style="margin-bottom: 2em; margin-top: 2em;">Historia</h2>

<div>
    <table [dataSource]="completedPayments" mat-table matSort [dataSource]="" class="mat-elevation-z8" style="width: 100%;">
        <ng-container matColumnDef="Name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Nazwa </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container> 
        <ng-container matColumnDef="Value">
            <th mat-header-cell *matHeaderCellDef> Kwota </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} zł</td>
        </ng-container>
        <ng-container matColumnDef="PaymentDate">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Termin wpłaty </th>
            <td mat-cell *matCellDef="let element"> {{element.paymentDeadline | date:'yyyy-MM-dd'}} </td>
        </ng-container>
        <ng-container matColumnDef="BookDate">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Termin zaksięgowania </th>
            <td mat-cell *matCellDef="let element"> {{element.paymentBookDate | date:'yyyy-MM-dd'}} </td>
        </ng-container>
        <ng-container matColumnDef="Details">
            <th mat-header-cell *matHeaderCellDef> Szczegóły </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="showDetails(element)">Szczegóły</button> </td>
        </ng-container>
       
        <ng-container matColumnDef="PaymentStatus">
            <th mat-header-cell *matHeaderCellDef> Status płatności</th>
            <td mat-cell *matCellDef="let element"> {{decodePaymentStatus(element.paymentStatus)}}</td>
        </ng-container>
        <ng-container matColumnDef="BookStatus">
            <th mat-header-cell *matHeaderCellDef> Status księgowania</th>
            <td mat-cell *matCellDef="let element"> {{element.bookStatus}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsForHistory"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsForHistory;"></tr>
    </table>
</div>
</div>