
.login-header{
    height: 5em; 
    font-size: 32px; 
    text-align: center;
}

.login-header i{
    font-size: 48px;
}

.login-form{
    text-align: center;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 50px; 
    width:35%;
    background-color: rgba(200, 200, 200, .9); 
    border-radius: 25px;
    
  }

  mat-form-field{
    width: 100%;
  margin-bottom: 1em;
    }

  .forget-password a p:hover
  {   
    color:  #181818;
    text-decoration: underline;
  }

  button{
    padding-left: 25%; 
    padding-right: 25%; 
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin: 10px 10px 10 px; 
    border-radius: 10px; 
    border-width: 0px; 
    background-color: #484848;
    color: white;
    font-size: 0.9em;
  }

  button:hover{
   
    background-color: gray;
    color: white;
  }

