<div class="center">
  <div class="login-header">
    <p>Przypomnij hasło</p>
    <i class="fa fa-users"></i>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" class="example-right-align"  [formControl]="RequestResetForm.controls.email" >
      <mat-error *ngIf="RequestResetForm.controls.email.hasError('required')">Podaj poprawny email</mat-error>
      <mat-error *ngIf="RequestResetForm.controls.email.hasError('email')">Email jest niepoprawny</mat-error> 
    </mat-form-field>
    <div>
      <div>
        <button [disabled]="IsMailSending" type="submit" class="btn" (click)="RequestResetUser()">Wyślij mail z przypomnieniem</button>
      </div>
    </div>
  </div>
</div>