
  th.mat-sort-header-sorted {
    color: black;
  }

  table {
    width: 100%;
  }
  .mat-column-Building {
    width: 30% !important;
  }
  
  td.is-red {
    background: lightcoral;
}

td.is-yellow {
  background: lightyellow
}

td.is-green {
  background: lightgreen
}

td tr.mat-header-row{
  background: lightgreen

}