<div style="position:relative; width: 100%; opacity: 0.9; background-color: white;  height: 100%; padding: 0em;"
  role="alert">
  <app-nav></app-nav>
  <div class="container-fluid">
    <div class="row" style="flex-wrap: wrap;">
      <mat-card class="col-md-6 example-card" *ngIf="hasUserAccess()">
        <mat-card-header>
          <mat-card-title>Czynsze</mat-card-title>
          <mat-card-subtitle>Wykonaj opłatę</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>
            <a style="text-decoration: none;" class="navbar-brand" [routerLink]="['/rent']">
              <mat-icon>savings</mat-icon>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="col-md-6 example-card" *ngIf="hasAdministrationAccess()">
        <mat-card-header>
          <mat-card-title>Czynsze</mat-card-title>
          <mat-card-subtitle>Wygeneruj opłaty</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div style="width: 100%; ">
            <a style="text-decoration: none;" class="navbar-brand" [routerLink]="['/paymentsAdministration']">
              <mat-icon>savings</mat-icon>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="col-md-6 example-card" *ngIf="hasAdministrationAccess()">
        <mat-card-header>
          <mat-card-title>Media</mat-card-title>
          <mat-card-subtitle>Wygeneruj dane zużycia</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div style="width: 100%; ">
            <a style="text-decoration: none;" class="navbar-brand" [routerLink]="['/mediaAdministration']">
              <mat-icon>hot_tub</mat-icon>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="col-md-6 example-card" *ngIf="hasUserAccess()">
        <mat-card-header>
          <mat-card-title>Media</mat-card-title>
          <mat-card-subtitle>Zaktualizuj informację o użyciu</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div style="width: 100%; ">
            <a style="text-decoration: none;" class="navbar-brand" [routerLink]="['/media']">
              <mat-icon>hot_tub</mat-icon>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="col-md-6 example-card" *ngIf="hasUserAccess()">
        <mat-card-header>
          <mat-card-title>Aktualności</mat-card-title>
          <mat-card-subtitle>Sprawdź tablicę ogłoszeń</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div style="width: 100%; ">
            <a style="text-decoration: none;" class="navbar-brand" [routerLink]="['/news']">
              <mat-icon>mail</mat-icon>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="col-md-6 example-card" *ngIf="hasAdministrationAccess()">
        <mat-card-header>
          <mat-card-title>Ogłoszenia</mat-card-title>
          <mat-card-subtitle>Dodaj ogłoszenie</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div style="width: 100%; ">
            <a style="text-decoration: none;" class="navbar-brand" [routerLink]="['/announcementsAdministration']">
              <mat-icon>mail</mat-icon>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="col-md-6 example-card">
        <mat-card-header>
          <mat-card-title>Czat</mat-card-title>
          <mat-card-subtitle>Skontaktuj się z innymi mieszkańcami</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div style="width: 100%; ">
            <a style="text-decoration: none;" class="navbar-brand" [routerLink]="['/chat']">
              <mat-icon>chat</mat-icon>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="col-md-6 example-card" *ngIf="hasUserAccess()">
        <mat-card-header>
          <mat-card-title>Uszkodzenia</mat-card-title>
          <mat-card-subtitle>Zgłoś usterkę</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div style="width: 100%; ">
            <a style="text-decoration: none;" class="navbar-brand" [routerLink]="['/damage']">
              <mat-icon>broken_image</mat-icon>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="col-md-6 example-card" *ngIf="hasHouseManagerAccess()">
        <mat-card-header>
          <mat-card-title>Usterki</mat-card-title>
          <mat-card-subtitle>Sprawdź aktywne usterki</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div style="width: 100%; ">
            <a style="text-decoration: none;" class="navbar-brand" [routerLink]="['/damageManage']">
              <mat-icon>broken_image</mat-icon>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="col-md-6 example-card" *ngIf="hasHouseManagerAccess()">
        <mat-card-header>
          <mat-card-title>Rejestracja</mat-card-title>
          <mat-card-subtitle>Dodaj użytkownika</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div style="width: 100%; ">
            <a style="text-decoration: none;" class="navbar-brand" [routerLink]="['/register']">
              <mat-icon>how_to_reg</mat-icon>
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>