<div mat-dialog-content>
  <div>
    <h2 style="margin-bottom: 2em;">Dodaj dane z liczników lub prześlij zdjęcie</h2>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <form>
            <mat-form-field appearance="fill">
              <mat-label>Typ</mat-label>
              <input matInput type="text" [(ngModel)]="data.MediaType" name="type" disabled />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Ostatni odczyt</mat-label>
              <input matInput type="number" [(ngModel)]="data.LastValue" name="value" disabled />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Obecny stan</mat-label>
              <input matInput [(ngModel)]="media.CurrentValue" name="currentValue" type="number" [min]='data.LastValue' />
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Dodatkowe informacje</mat-label>
              <input matInput [(ngModel)]="media.Description" name="description" />
            </mat-form-field>
          </form>

        </div>

        <div class="col-md-6" *ngIf="!file">

          <div class="container" appDragAndDrop (fileDropped)="onFileDropped($event)">
            <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target.files)" />
            <img src="../../assets/ic-upload-files.svg" alt="">
            <h4>Przeciągnij i upuść pliki tutaj</h4>
            <h4>lub</h4>
            <label for="fileDropRef">Wyszukaj pliki</label>
          </div>
        </div>


        <div class="col-md-6 files-list" *ngIf="file">
          <h2> Plik:</h2>
          <div class="single-file">
            <div class="info">
              <div class="container-fluid">
                <div class="row">
                  <div class="info">
                    <div style="display:inline-block; width: 80%;">
                      <div style="display: inline-block;">

                        <img src="../../assets/ic-file.svg" width="45px" alt="file" *ngIf="file">
                      </div>
                      <div>

                        <h4 class="name">
                          {{ file?.name }}
                        </h4>
                        <p class="size">
                          {{ blobService.formatBytes(file?.size) }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="deleteFile()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button class="btn-primary" (click)="saveData()">Zapisz</button>
</mat-dialog-actions>