<div class="center">
  <div class="login-header">
    <p>LOGOWANIE</p>
    <i class="fa fa-users"></i>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Użytkownik</mat-label>
    <input matInput type="text" class="example-right-align" [(ngModel)]="model.username">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Hasło</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="model.password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button class="login-button" type="submit" (click)="logIn()">
    Login
  </button>
  <div class="forget-password">
    <a class="nav-link" [routerLink]="['/forgotPassword']">
      <p>Przypomnij hasło!</p>
    </a>
  </div>
</div>