<mat-dialog-content class="mat-typography" style="width: 70vw;">
  <div style="margin: 2em;">

    <p>Dane osobowe:</p>
    <mat-form-field appearance="standard">
      <mat-label>Imię</mat-label>
      <input matInput [(ngModel)]="firstName" disabled>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Nazwisko</mat-label>
      <input matInput [(ngModel)]="lastName" disabled>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Data urodzenia</mat-label>
      <input matInput type="date" [ngModel]="birthDate | date:'yyyy-MM-dd'" disabled>
    </mat-form-field>
  </div>
  <div style="margin: 2em;">
    <p>Dane kontaktowe:</p>
    <mat-form-field appearance="standard">
      <mat-label>Telefon</mat-label>
      <div style="display: flex; justify-content: space-between;">
        <input matInput [disabled]="phoneDisabled" [(ngModel)]="phoneNumber" style="display: inline-block;"> 
        <button style="cursor: pointer; display: inline-block;" (click)="editPhone()">
          <mat-icon matSuffix >input</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <div style="display: flex; justify-content: space-between;">
        <input matInput [disabled]="emailDisabled" [(ngModel)]="email" style="display: inline-block;"> 
        <button style="cursor: pointer; display: inline-block;" (click)="editEmail()">
          <mat-icon matSuffix >input</mat-icon>
        </button>
      </div>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Anuluj</button>
  <button mat-button (click)="saveData()">Zapisz</button>
</mat-dialog-actions>