<mat-dialog-content class="mat-typography" style="width: 100%;">
  <div style="margin: 2em;">

    <p>Dane osobowe:</p>
    <mat-form-field appearance="standard">
      <mat-label>Imię</mat-label>
      <input matInput [(ngModel)]="firstName" disabled>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Nazwisko</mat-label>
      <input matInput [(ngModel)]="lastName" disabled>
    </mat-form-field>
  </div>
  <div style="margin: 2em;">
    <p>Dane kontaktowe:</p>
    <mat-form-field appearance="standard">
      <mat-label>Telefon</mat-label>
      <div>
        <input matInput [disabled]="phoneDisabled" [(ngModel)]="phoneNumber" style="display: inline-block;"> 
        <button mat-mini-fab color="primary"(click)="this.phoneDisabled = !this.phoneDisabled">
          <mat-icon matSuffix >create</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <div>
        <input matInput [disabled]="emailDisabled" [(ngModel)]="email" style="display: inline-block;"> 
        <button mat-mini-fab color="primary" (click)="this.emailDisabled = !this.emailDisabled">
          <mat-icon matSuffix >create</mat-icon>
        </button>
      </div>
    </mat-form-field>
  </div>
  <div *ngFor="let flat of flats" > 
    <div style="margin: 2em;" *ngIf="userRole===1">
      <p>Mieszkanie - {{flat.name}}:</p>
      <mat-form-field appearance="standard">
        <mat-label>Liczba mieszkańców</mat-label>
        <div>
          <input matInput [disabled]="flat.residentsAmountDisabled" [(ngModel)]="flat.residentsAmount" style="display: inline-block;"> 
          <button mat-mini-fab color="primary"(click)="flat.residentsAmountDisabled = !flat.residentsAmountDisabled">
            <mat-icon matSuffix>create</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Powierzchnia</mat-label>
      <div>
        <input matInput [disabled]="true" [(ngModel)]="flat.area" style="display: inline-block;"> 
      </div>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Szacunkowe zużycie wody ciepłej w m3/msc</mat-label>
      <div matTooltip={{flat.hotWaterDescription}}>
        <input matInput [disabled]="flat.hotWaterUsageDisabled" [(ngModel)]="flat.hotWaterEstimatedUsage" style="display: inline-block;"> 
        <button mat-mini-fab color="primary"(click)="flat.hotWaterUsageDisabled = !flat.hotWaterUsageDisabled">
          <mat-icon matSuffix>create</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Szacunkowe zużycie wody zimnej/msc</mat-label>
      <div matTooltip={{flat.coldWaterDescription}}>
        <input matInput [disabled]="flat.coldWaterUsageDisabled" [(ngModel)]="flat.coldWaterEstimatedUsage" style="display: inline-block;"> 
        <button mat-mini-fab color="primary"(click)="flat.coldWaterUsageDisabled = !flat.coldWaterUsageDisabled">
          <mat-icon matSuffix>create</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Szacunkowe zużycie energii na ogrzewanie/msc</mat-label>
      <div matTooltip={{flat.heatingDescription}}>
        <input matInput [disabled]="flat.heatingUsageDisabled" [(ngModel)]="flat.heatingEstimatedUsage" style="display: inline-block;"> 
        <button mat-mini-fab color="primary"(click)="flat.heatingUsageDisabled = !flat.heatingUsageDisabled">
          <mat-icon matSuffix>create</mat-icon>
        </button>
      </div>
    </mat-form-field>
  </div>
  </div>
  <div style="margin: 2em;">
    <p>Avatar:</p>
    <div class="col-md-6" *ngIf="!(fileUrl || base64File) ">
      
      <div class="container" appDragAndDrop (fileDropped)="onFileDropped($event)">
        <input type="file" #fileDropRef id="fileDropRef" (change)="fileBrowseHandler($event.target.files)" />
        <img src="../../assets/ic-upload-files.svg" alt="">
        <h4>Przeciągnij i upuść pliki tutaj</h4>
        <h4>lub</h4>
        <label for="fileDropRef">Wyszukaj pliki</label>
      </div>
    </div>
    <div class="image" *ngIf="base64File ? base64File : fileUrl">
      <div class="overlay">
        <button mat-fab color="primary" style="display: fixed;" aria-label="Example icon button with a delete icon" (click)="deleteFile()">
          <mat-icon>delete</mat-icon>
        </button>
        </div>
      <img [src]="base64File ? base64File : fileUrl" class="img img-responsive" style="width: 100%"/>
    </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Anuluj</button>
  <button mat-button (click)="saveData()">Zapisz</button>
</mat-dialog-actions>