
  th.mat-sort-header-sorted {
    color: black;
  }

  table {
    width: 100%;
  }
  .mat-column-Description {
    width: 30% !important;
  }
  .mat-column-MediaType, .mat-column-CreationDate, .mat-column-AcceptanceDate {
    width: 16% !important;
  }

  .mat-column-CurrentValue {
    width: 10% !important;
  }