input{
    font-family: FontAwesome; 
    font-style: normal; 
    font-weight: normal;
    background: 
      linear-gradient(#000, #000) center bottom 2px /calc(100% - 10px) 0.5px no-repeat;
  background-color: #fcfcfc;
  height: 2em;
    border-radius: 5px;
    border-width: 0px;
    padding: 1em 1em 1em 1em;
    margin: 5px 0 20px 0;
    width: 100%;
}

  button{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 10px 10px 10px 10px; 
    border-radius: 10px; 
    border-width: 0px; 
    background-color: #484848;
    color: white;
  }

  button:hover{
    background-color: gray;
    color: white;
  }