<p style="font-size: 24px;">Zmiana hasła</p>
<mat-dialog-content class="mat-typography">
  <div style="margin: 2em;" >

    <mat-form-field appearance="fill">
      <mat-label>Hasło</mat-label>
      <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" autocomplete ="new-password" [formControl]="changePasswordForm.controls.currentPassword">
      <button mat-icon-button matSuffix (click)="hideCurrentPassword = !hideCurrentPassword" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideCurrentPassword">
        <mat-icon>{{hideCurrentPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nowe hasło</mat-label>
      <input matInput [type]="hideNewPassword ? 'password' : 'text'" autocomplete ="new-password" [formControl]="changePasswordForm.controls.newPassword" (input)="onPasswordInput()">

      <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideNewPassword">
        <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.controls.newPassword.hasError('required')">Podaj nowe hasło</mat-error>
      <mat-error *ngIf="changePasswordForm.controls.newPassword.hasError('minlength')">Hasło jest za krótkie</mat-error>
      <mat-error *ngIf="changePasswordForm.controls.newPassword.invalid && !changePasswordForm.controls.newPassword.hasError('required') && !changePasswordForm.controls.newPassword.hasError('minlength')" >Hasła nie są identyczne!</mat-error>
      </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Potwierdź hasło</mat-label>
      <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" autocomplete ="new-password" [formControl]="changePasswordForm.controls.confirmPassword" (input)="onPasswordInput()">
      <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmPassword">
        <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="changePasswordForm.controls.confirmPassword.hasError('required')">Potwierdź nowe hasło</mat-error>
      <mat-error *ngIf="changePasswordForm.controls.confirmPassword.hasError('minlength')">Hasło jest za krótkie</mat-error>
      <mat-error *ngIf="changePasswordForm.controls.confirmPassword.invalid && !changePasswordForm.controls.confirmPassword.hasError('required') && !changePasswordForm.controls.confirmPassword.hasError('minlength')">Hasła nie są identyczne!</mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Anuluj</button>
  <button mat-button (click)="changePassword()">Zmień hasło</button>
</mat-dialog-actions>