<div class="example-container">
 <mat-card-content>

   <mat-form-field >
     <mat-label>Imię</mat-label>
     <input matInput [formControl]="firstName">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Nazwisko</mat-label>
      <input matInput [formControl]="lastName">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Username</mat-label>
      <input matInput [formControl]="userName">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field >
      <mat-label>Hasło</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" autocomplete ="new-password" [formControl]="password" required  (input)="onPasswordInput()" >
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ukryj hasło'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
      <mat-error *ngIf="password.hasError('minlength')">Password must have at least 6 characters</mat-error>
  
    </mat-form-field>
    <mat-form-field >
      <mat-label>Potwierdź hasło</mat-label>
      <input matInput [type]="hideConfirmedPassword ? 'password' : 'text'" autocomplete ="new-password" [formControl]="confirmPassword" required  (input)="onPasswordInput()">
      <button mat-icon-button matSuffix (click)="hideConfirmedPassword = !hideConfirmedPassword" [attr.aria-label]="'Ukryj hasło'" [attr.aria-pressed]="hideConfirmedPassword">
        <mat-icon>{{hideConfirmedPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="confirmPassword.hasError('required')">Please confirm your password</mat-error>
      <mat-error *ngIf="confirmPassword.invalid && !confirmPassword.hasError('required')">Passwords don't match</mat-error>
     </mat-form-field>
  </mat-card-content>    
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addUser()">Dodaj</button>
  </mat-card-actions>

</div>