<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" [routerLink]="['/home']">Home community App</a>

  <div class="container">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/rent']">Czynsze </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/media']">Media</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/news']">Aktualności</a>
      </li>
    </ul>
    <div *ngIf="authService.loggedIn()" class="dropdown" dropdown>
      <a class="btn dropdown-toggle text-light" dropdownToggle>
        Welcome {{ authService.decodedToken?.unique_name | titlecase }}!
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <button class="dropdown-item" href="#" (click)="openDialog()"><i class="fa fa-user"></i>Edit profile</button>
        <a class="dropdown-item" (click)="loggedOut()"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>
  </div>
</nav>