<div>
    <app-nav></app-nav>
    <div style="position:relative; width: 100%; opacity: 0.9; background-color: white;  height: auto; padding: 3em;" role="alert" >

        <h2 style="margin-bottom: 2em;">Dane do aktualizacji</h2>

        <table mat-table matSort [dataSource]="mediaToUpdate" class="mat-elevation-z8" style="width: 100%;">
            <ng-container matColumnDef="MediaType">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Typ </th>
                <td mat-cell *matCellDef="let element">{{element.flatAddress}} - {{element.MediaType}} </td>
            </ng-container> 
            <ng-container matColumnDef="StartDate">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Początek </th>
                <td mat-cell *matCellDef="let element"> {{element.StartPeriodDate | date:'yyyy-MM-dd'}} </td>
            </ng-container>
            <ng-container matColumnDef="EndDate">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Koniec </th>
                <td mat-cell *matCellDef="let element"> {{element.EndPeriodDate | date:'yyyy-MM-dd'}} </td>
            </ng-container>
            <ng-container matColumnDef="LastValue">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Ostatni stan </th>
                <td mat-cell *matCellDef="let element"> {{element.LastValue}} </td>
            </ng-container>
            <ng-container matColumnDef="Update">
                <th mat-header-cell *matHeaderCellDef> Aktualizuj</th>
                <td mat-cell *matCellDef="let element"> <button class="btn-primary" (click)="openDialog(element)">Aktualizuj</button> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

       
        <app-mediaHistory [(imageToShow)]="this.imageToShow"></app-mediaHistory>
    </div>
</div>