<div>
    <app-nav></app-nav>
    <div style="position:relative; width: 100%; opacity: 0.9; background-color: white;  height: auto; padding: 3em;" role="alert" *appUserRole="[ Role.User ]">
        <h2 style="margin-bottom: 2em;">Dodaj dane z liczników lub prześlij zdjęcie</h2>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <form (ngSubmit)="addManualData()">
                        <mat-form-field appearance="fill">
                            <mat-select required [(value)]="mediaDataToAdd.type" name="select">
                                <mat-option value="hotWater">Woda ciepła</mat-option>
                                <mat-option value="coldWater">Woda zimna</mat-option>
                            </mat-select>
                            <mat-label>
                                Wybierz media
                            </mat-label>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Aktualny odczyt</mat-label>
                            <input matInput type="number" [(ngModel)]="mediaDataToAdd.currentValue" name="value" required />
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Dodatkowe informacje</mat-label>
                            <input matInput [(ngModel)]="mediaDataToAdd.description" name="description" />
                        </mat-form-field>
                        <button type="submit" mat-raised-button color="primary">Dodaj</button>
                    </form>

                </div>
                <div class="col-md-2">
                    <div style="border-left: 2px solid black;
height: 100%;
position: absolute;
left: 50%;
margin-left: -3px;
top: 0;"></div>
                </div>
                <div class="col-md-5">

                    <div class="container" appDragAndDrop (fileDropped)="onFileDropped($event)">
                        <input type="file" #fileDropRef id="fileDropRef" multiple
                            (change)="fileBrowseHandler($event.target.files)" />
                        <img src="../../assets/ic-upload-files.svg" alt="">
                        <h3>Przeciągnij i upuść pliki tutaj</h3>
                        <h3>lub</h3>
                        <label for="fileDropRef">Wyszukaj pliki</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="files-list">
            <h2> Lista danych do dodania:</h2>
            <div class="single-file" *ngFor="let file of files; let i = index">
                <div class="info">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="info">
                                <div style="display:inline-block; width: 30%;" *ngIf="file.file">
                                   <div style="display: inline-block;">

                                       <img src="../../assets/ic-file.svg" width="45px" alt="file" *ngIf="file.file">
                                    </div>
                                    <div>

                                        <h4 class="name">
                                            {{ file?.file?.name }}
                                        </h4>
                                        <p class="size">
                                            {{ blobService.formatBytes(file?.file?.size) }}
                                        </p>
                                    </div>
                                </div>
                                <mat-form-field style="width: 30%;" *ngIf="!file.file" appearance="fill">
                                    <mat-label>Aktualny odczyt</mat-label>
                                    <input matInput [(ngModel)]="file.currentValue" required />
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-select [(value)]="file.type" required>
                                        <mat-option value="hotWater">Woda ciepła</mat-option>
                                        <mat-option value="coldWater">Woda zimna</mat-option>
                                    </mat-select>
                                    <mat-label>
                                        Wybierz media
                                    </mat-label>
                                </mat-form-field>
                                
                                <mat-form-field appearance="fill">
                                    <mat-label>Dodatkowe informacje</mat-label>
                                    <input matInput [(ngModel)]="file.description" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngIf="!files">
                            <p> Brak danych do wyświetlenia!</p>
                        </div>
                    </div>
                </div>
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                    (click)="deleteFile(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div>
                <button mat-raised-button color="primary" *ngIf="files.length>0" (click)="updateFiles()">Zapisz
                    zmiany</button>
            </div>

        </div>
        <app-mediaHistory [(imageToShow)]="this.imageToShow"></app-mediaHistory>
    </div>
</div>