.mat-form-field{
    display: block;
  }
  .info > .mat-form-field{
    display: inline-block;
  }

  .mat-column-Add {
    width: 5% !important;
  }

  button:focus{
    outline: none;
    border: none;
}