<app-nav></app-nav>
<div style="position:relative; width: 100%; opacity: 0.9; background-color: white;  height: auto; padding: 3em;">
  
 <h2>Aktualności</h2>
 
<div>

   <table [dataSource]="announcements" mat-table matSort [dataSource]="" class="mat-elevation-z8" style="width: 100%;">
      <ng-container matColumnDef="Name">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Nazwa </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container> 
      <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef> Opis </th>
          <td mat-cell *matCellDef="let element"> {{element.description}}</td>
      </ng-container>
      <ng-container matColumnDef="CreationDate">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Data dodania </th>
          <td mat-cell *matCellDef="let element"> {{element.creationDate | date:'yyyy-MM-dd'}} </td>
      </ng-container>
      <ng-container matColumnDef="Author">
          <th mat-header-cell *matHeaderCellDef> Autor </th>
          <td mat-cell *matCellDef="let element"> {{element.author}} </td>
      </ng-container>
      <ng-container matColumnDef="Preview">
          <th mat-header-cell *matHeaderCellDef> Podgląd</th>
          <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="openPdf()">Podgląd</button></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<ng2-pdfjs-viewer 
#pdfViewer 
[externalWindow]="true"
[openFile]="false"
[viewBookmark]="false"
[download]="false">
</ng2-pdfjs-viewer>

</div>