<app-nav>
</app-nav>
<div style="position:relative; width: 100%; opacity: 0.9; background-color: white;  height: auto; padding: 3em;"
    role="alert">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="fill">
                    <mat-label>Osiedla</mat-label>
                    <mat-select [formControl]="houseDevelopmentsFrom" multiple
                        (selectionChange)="filterBuildings($event)">
                        <mat-option *ngFor="let user of filteredHouseDevelopments" [value]="user.housingDevelopmentId">
                            {{user.housingDevelopmentName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="fill">
                    <mat-label>Budynki</mat-label>
                    <mat-select [formControl]="buildingsFrom" multiple (selectionChange)="showFlatsList()">
                        <mat-option *ngFor="let user of filteredBuildings" [value]="user.buildingId">{{user.address}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <table mat-table matSort [dataSource]="usersToSendData" class="mat-elevation-z8" style="width: 100%;">
            <ng-container matColumnDef="Building">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Mieszkanie </th>
                <td mat-cell *matCellDef="let element"  [ngClass]="{
                    'is-red': element.paymentList.length === 0,
                    'is-green': element.paymentList.length !== 0
                  }"> {{element.building}} m. {{element.local}} </td>
            </ng-container>
            <ng-container matColumnDef="Payment">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{
      'is-red': element.paymentList.length === 0,
      'is-green': element.paymentList.length !== 0
    }">
                    <button class="btn-primary" (click)="openDialog(element)"
                        *ngIf="element.paymentList.length == 0"> Generuj! </button>
                    <div *ngIf="element.paymentList.length != 0">
                        <table mat-table matSort [dataSource]="element.paymentList" class="mat-elevation-z8"
                            style="width: 100%;">
                            <ng-container matColumnDef="Name">
                                <th mat-header-cell *matHeaderCellDef>Nazwa </th>
                                <td mat-cell *matCellDef="let payment" [ngClass]="{
              'is-red': payment.paymentStatus === 0,
              'is-yellow': payment.paymentStatus === 1,
              'is-green': payment.paymentStatus === 2
            }"> {{payment.name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Status">
                                <th mat-header-cell *matHeaderCellDef> Status </th>
                                <td mat-cell *matCellDef="let payment" [ngClass]="{
              'is-red': payment.paymentStatus === 0,
              'is-yellow': payment.paymentStatus === 1,
              'is-green': payment.paymentStatus === 2
            }"> {{payment.paymentStatus}} </td>
                            </ng-container>
                            <ng-container matColumnDef="Value">
                                <th mat-header-cell *matHeaderCellDef> Wartość </th>
                                <td mat-cell *matCellDef="let payment" [ngClass]="{
            'is-red': payment.paymentStatus === 0,
            'is-yellow': payment.paymentStatus === 1,
            'is-green': payment.paymentStatus === 2
          }"> {{payment.value}}zł </td>
                            </ng-container>
                            <ng-container matColumnDef="Action">
                                <th mat-header-cell *matHeaderCellDef> Odczyt </th>
                                <td mat-cell *matCellDef="let payment" [ngClass]="{
          'is-red': payment.paymentStatus === 0,
          'is-yellow': payment.paymentStatus === 1,
          'is-green': payment.paymentStatus === 2
        }">
                                   
                             
                                    <button *ngIf="payment.paymentStatus!==5" class="btn-primary" (click)="bookMedia(payment)">
                                        Zaksięguj </button>
                                    <button *ngIf="payment.paymentStatus===5" class="btn-primary"
                                        (click)="unlockPayment(payment)">
                                        Odblokuj </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedPaymentColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedPaymentColumns;"></tr>
                        </table>
                    </div>


                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
    </div>
</div>